div {
              width: 100%;
              margin: auto;
              color:#f0eaea;
              background-color: #fa9b9b;
              display:inline-block;
}
h3{
    font-family: roboto, Arial, sans-serif;
      text-align: left;
}
body {
    line-height: 18px;
    font-family: roboto, Arial, sans-serif;
    background-color: #f79292;
    overflow-x: hidden;
    font-size: 15px;
    text-align: left; 
}
.doan1{
    font-family: roboto, Arial, sans-serif;
    font-size: 12px;
    color:rgb(0, 0, 0);
    background-color: #ffffff;
    text-align: center; 
}
.doan2{
    color:rgb(0, 0, 0);
    background-color: #ffffff;
    text-align: center; 
}
img{
    width: 100%;
}
