a.chu{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
}
a.chu::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: gold;
    transition: 0.4s;
}
a.chu:hover::after{
    width: 100%;
    left: 0;
}
