ul{
    list-style: none;
    margin: 100px;
    padding: 0;
    border-radius:0;
    width: 1200px;
    height: 50px;
    display: inline-block;
    color: rgb(3, 3, 3);
    
    overflow: hidden;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgb(189, 189, 189);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul li{
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 15px;  
}
ul li a{
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color: #c3946a
}
.Yourlogo{
    font-size: 30px; 
    float: left;
    margin-left: 40px;
    margin-right: 150px;
   
}
.Sign{
    font-size: 15px; 
    float: left;
    margin-left: 150px;
    margin-right: 20px; 
    color:#fffefe
    background-color: #c3946a ;

     
}
a.chu{
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
a.chu::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 0%;
    height: 1px;
    background-color: rgb(236, 93, 93);
    transition: 0.4s;
}
a.chu:hover::after{
    width: 100%;
    right: 0;
}
.all {
    width: 1200px;
    margin: auto;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
}
.conten{
    float: left;
    width: 750px;
    padding: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 400px; 
}
.container {
    float: left;
    width: 175px;
    padding: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 400px;

  }
.containerimg {
  width: 175px;
  border-radius: 0px;
  margin-left: 50px;
}
  .container2 {
    float: right;
    width: 300px;
    padding: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
.containerimg2 {
  width: 300px;
  border-radius: 0px;
  float: right;
  margin-right: 150px;

}

